<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">{{ 'header.title' | translate }}</a>
    <ul class="navbar-nav " routerLinkActive="active">
        <li class="nav-item">
            <a href="" class="nav-link" routerLink="">{{ 'header.allProducts' | translate }} </a>
        </li>
        <li class="nav-item">
            <select class="form-select bg-dark text-light border-0" #langSelect (change)="OnChange(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
        </li>
    </ul>



    <ul class="navbar-nav" [ngClass]="{'me-auto': subjectService.lang =='en', 'ms-auto':subjectService.lang =='ar'}" *ngIf="!isLoggedIn">
        <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">{{ 'header.register' | translate }}</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">{{ 'header.login' | translate }}</a>
        </li>
    </ul>

    <ul class="navbar-nav" [ngClass]="{'me-auto': subjectService.lang =='en', 'ms-auto':subjectService.lang =='ar'}" *ngIf="isLoggedIn">
        <li class="nav-item">
            <a href class="nav-link" (click)="logout()">{{ 'header.logOut' | translate }}</a>
        </li>
    </ul>
</nav>