<div class="container">
    <h1>{{ 'register.header' | translate }}</h1>
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-6">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="firstname">{{ 'register.firstName' | translate }}</label>
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required minlength="3" maxlength="20" #firstname="ngModel" />
                    <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
                        <div *ngIf="firstname.errors.required">firstname is required</div>
                        <div *ngIf="firstname.errors.minlength">
                            firstname must be at least 3 characters
                        </div>
                        <div *ngIf="firstname.errors.maxlength">
                            firstname must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">{{ 'register.lastName' | translate }}</label>
                    <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required minlength="3" maxlength="20" #lastname="ngModel" />
                    <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                        <div *ngIf="lastname.errors.required">lastname is required</div>
                        <div *ngIf="lastname.errors.minlength">
                            lastname must be at least 3 characters
                        </div>
                        <div *ngIf="lastname.errors.maxlength">
                            lastname must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstnameArabic">{{ 'register.firstNameArabic' | translate }}</label>
                    <input type="text" class="form-control" name="firstnameArabic" [(ngModel)]="form.firstnameArabic" required minlength="3" maxlength="20" #firstnameArabic="ngModel" />
                    <div class="alert-danger" *ngIf="firstnameArabic.errors && f.submitted">
                        <div *ngIf="firstnameArabic.errors.required">firstname Arabic is required</div>
                        <div *ngIf="firstnameArabic.errors.minlength">
                            firstname Arabic must be at least 3 characters
                        </div>
                        <div *ngIf="firstnameArabic.errors.maxlength">
                            firstname Arabic must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastnameArabic">{{ 'register.lastNameArabic' | translate }}</label>
                    <input type="text" class="form-control" name="lastnameArabic" [(ngModel)]="form.lastnameArabic" required minlength="3" maxlength="20" #lastnameArabic="ngModel" />
                    <div class="alert-danger" *ngIf="lastnameArabic.errors && f.submitted">
                        <div *ngIf="lastnameArabic.errors.required">lastnameArabic is required</div>
                        <div *ngIf="lastnameArabic.errors.minlength">
                            lastname Arabic must be at least 3 characters
                        </div>
                        <div *ngIf="lastnameArabic.errors.maxlength">
                            lastname Arabic must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">{{ 'register.username' | translate }}</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" />
                    <div class="alert-danger" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors.required">Username is required</div>
                        <div *ngIf="username.errors.minlength">
                            Username must be at least 3 characters
                        </div>
                        <div *ngIf="username.errors.maxlength">
                            Username must be at most 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">{{ 'register.email' | translate }}</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                    <div class="alert-danger" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.email">
                            Email must be a valid email address
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'register.password' | translate }}</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">{{ 'register.registerButton' | translate }}</button>
                </div>

                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>

            <div class="alert alert-success" style="margin-top: 140px;" *ngIf="isSuccessful">
                Your registration is successful!
            </div>
        </div>
        <div class="col-md-6 pt-5">
            <img src="../../../assets/Images/register.svg" style="width:100%;" />
        </div>

    </div>
</div>
