<div class="container mydiv">
    <h1>{{'product.header' | translate}}</h1>

    <div class="row">
        <div class="col-md-4" *ngFor="let product of products;let i= index">
            <div class="card">
                <img src={{product.image}} class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{'product.nameDis' | translate}} :
                        <span *ngIf="subjectService.lang == 'en'">
                      {{product.name}}
                    </span>
                        <span *ngIf="subjectService.lang == 'ar'">
                      {{product.arabicName}}
                    </span>

                    </h5>

                    <b>{{'product.price' | translate}} : </b>
                    <span *ngIf="subjectService.lang == 'en'">
                      {{product.price}}
                    </span>
                    <span *ngIf="subjectService.lang == 'ar'">
                      {{product.price | arabicNumber}}
                    </span>
                    <br>
                    <b>{{'product.quantity' | translate}} : </b>

                    <span *ngIf="subjectService.lang == 'en'">
                      {{product.quanitity}}
                    </span>
                    <span *ngIf="subjectService.lang == 'ar'">
                      {{product.quanitity | arabicNumber}}
                    </span>
                    <br>
                    <div *ngIf="authGuards.canActivate()">
                        <a class="btn btn-primary float-right" (click)="buy()">{{'product.buyButton' | translate}}</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>