<div class="container">
    <h1>{{ 'login.header' | translate }}</h1>
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-6 pt-5">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                <div class="form-group">
                    <label for="email">{{ 'login.email' | translate }}</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                        email is required!
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'login.password' | translate }}</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                    <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Password is required</div>
                        <div *ngIf="password.errors.minlength">
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                <div>
                    <a routerLink='/forgetpassword'> {{ 'login.forgotPassword' | translate }} </a>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">{{ 'login.loginButton' | translate }}</button>
                </div>

                <div class="form-group">
                    <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                        Login failed: {{ errorMessage }}
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-6">
            <img src="../../../assets/Images/log.svg" style="width:100%;" />
        </div>
    </div>
</div>
